.guess-the-player {  
    margin: 20px;
    overflow: scroll;
    height: 70vh;
    overflow-x: hidden;
}

.guess-the-player-title {
    font-size: 50px;
    margin: 0;
    color: white;
}

.guess-the-player-subtitle {
    font-size: 18px;
    margin-bottom: 10px;
    color: white;
}

.guess-the-player-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.guess-the-player-game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.guess-the-player-game-over h3 {
    font-size: 30px;
    margin: 0
}

.guess-the-player-table {
  display: grid;
  grid-template-columns: 135px 135px 135px 135px 135px 135px 120px; /* match widths for all columns */
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  margin-left: -50px;
}
.guess-the-player-table h4 {
    font-size: 20px;
    margin: 0;
}