.guess-the-player {  
    margin: 20px;
}

.guess-the-player-title {
    font-size: 50px;
    margin: 0;
    color: white;
}

.guess-the-player-subtitle {
    font-size: 18px;
    margin-bottom: 50px;
    color: white;
}

.guess-the-player-search {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}