.gameOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 10px;
}

.gameOptions li {
  flex: 0 0 calc(25% - 20px);
  box-sizing: border-box;
}

.gameOptions li button {
  background: none;
  width: 100%;
}