html, body, #root {
  height: 100%;
  margin: 0;
  overflow-y: hidden;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 150px repeat(6, 1fr) 0px;
  gap: 8px;
  height: 100vh; 
  width: 100vw; 
  padding: 8px; 
  box-sizing: border-box;

}
    
.header {
    grid-column: span 6 / span 6;
    background-color: #1e1e1e;
}

.game-options {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-row-start: 2;
     background-color: #2c3e50;
     min-width: 200px;
     overflow: scroll;
}

.game-board {
    grid-column: span 4 / span 4;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 2;
     background-color: #4d4d4d;
     min-width: 1200px;
     width: 100%;
}

    