.draft-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: -50px;
}

.draft-card-background {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: flex-start; 
    width: 50%;
    max-height: 600px; 
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.draft-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;  
}

.draft-card img{
    width: 20%;
    height: 20%;
}

.round, .team, .playerName, .position, .college, .pick {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 90%;
    margin: 10px 0;     
}

.round h3, .team h3, .playerName h3, .position h3, .college h3, .pick h3 {
    font-size: 15px;
    color: black;
    margin: 0;
}

.underline {
    flex: 1;                    
    border-bottom: 2px solid black;
    margin-left: 10px;            
    display: flex;
    align-items: center;   
}

@font-face {
  font-family: 'IndieFlower';
  src: url('/fonts/IndieFlower.woff2') format('woff2'),
       url('/fonts/IndieFlower.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.text {
  font-size: 16px;
  color: black;
  padding: 0 5px;
  padding-left: 150px;
  font-family: 'IndieFlower', cursive ;
}